*{
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin: auto;
  margin: 1rem 0rem;
  border-right: 1px dashed lightslategray;
}
body {
  background-color: whitesmoke;
  /* height: 100vh; */
}

.btnsDiv {
  display: flex;
  justify-content: space-around;
}

button {
  /* width: 12em; */
  font-size: smaller;
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #7f359e2e;
  margin: 0px 3px;
  cursor: pointer;
}

input[type="range"] {
  margin: .3rem 0rem 2rem 0rem;
  /* width: 90%; */
}

/* input[type="file"] {
  margin: 2em;
} */
.rightDiv {
  padding: 1rem 1rem;
  width: 17%;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  letter-spacing: 4px;
  line-height: 4rem;
  font-size: small;
}

button:hover{
  background-color: #b400ff9c;
  transition: background-color 150ms;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 76%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button.downloadBtn {
  border-radius: .5rem;
  background-color: steelblue;
  color: aliceblue;
}

.titleDiv {
  height: 11px;
}

p {
  background: black;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
  margin-top: 1rem;
}

img {
  max-height: 29.9em;
  margin: 1rem 1rem;
  max-width: 94%;
}

input[type="file"] {
  margin-top: 2rem;
}

.active{
  background-color: #b400ff9c;
  border: 1px solid #585858;
}

p.rangeValue {
  background-color: whitesmoke;
  color: black;
  /* position: relative; */
  padding: 0px;
  /* right: -287px; */
  display: flex;
  flex-direction: row-reverse;
}